.summaryclass{
    padding-right: 225px;
    padding-left: 254px;
    text-align: center;
    font-style: italic;
}

.btnclass{
    justify-content: center;
    padding-top: 19px;
}

.imgclass{
    justify-content: center;
    padding-top: 45px;
}
.selectedtile{
    justify-content: center
}
.namecls{
    font-weight: bold;
}
.langclass{
    justify-content: center;
    font-weight: bold;
}
.ratingcls{
    justify-content: center;
    font-weight: bold;
}